beautifulsoup4==4.12.2
certifi==2022.12.7
iniconfig==2.0.0
isort==5.12.0
lxml==4.9.3
packaging==23.1
pylint==2.17.2
pytest==7.3.1
pytest-cov==4.0.0
PyYAML==6.0.1
soupsieve==2.4.1
urllib3==1.26.15
Werkzeug==2.2.3
